<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer id="footer-site">
    <ul class="widget-social">
        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" style="font-size:20px;color:lightblue;"></i></a></li>
        <li><a href="https://www.youtube.com/"><i class="fa fa-youtube" style="font-size:20px;color:lightblue;"></i></a></li>
        <li><a href="https://pay.amazon.com/"><i class="fa fa-amazon" style="font-size:20px;color:lightblue;"></i></a></li>
        <li><a href="https://usa.visa.com/"><i class="fa fa-cc-visa" style="font-size:20px;color:lightblue;"></i></a></li>
        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size:20px;color:lightblue;"></i></a></li>
        <li><a href="https://stackoverflow.com/"><i class="fa fa-stack-overflow" style="font-size:20px;color:lightblue;"></i></a></li>
    </ul>
    <div>
        <a href="#toppage">&copy; 2020 Kupon <span>Sys</span>tem</a>
    </div>
</footer>