<marquee>Enter Your Account</marquee>
<div class="root">


    <div class="dws-form">
        <form action="" class="tab-form" id="form">
            <h1>Login</h1>
            <input type="text" placeholder="user name..." [(ngModel)]="uName" name="uName">
            <br>
            <input type="text" placeholder="password..." [(ngModel)]="password" name="password">

            <button href="/home" (click)="login()">LogIn</button>
            <button (click)="register();">New account</button>
            <br>

            <br>
        </form>
    </div>
</div>