<!-- INTERPOLATION -->


<div class="one">
    <h3 *ngIf="amount>0">{{amount}} developer's photo from {{imageDate | date: 'MMM yyyy'}}</h3>
    <!-- PROPERTY BINDING -->
    <img #imageMe src="/assets/images/me.jpg" [width]="imageWidth">

    <!-- EVENT BINDING -->
    <div class="box">
        <input type="range" min="100" max="300" value="210" step="10" [(ngModel)]="imageWidth">
        <br>
        <div class="pos">
            <button (click)="imageIncr()" style="font-size: x-large;font-weight: 700;">+</button>
            <span>width:{{imageMe.width}}</span>
            <button (click)="imageDecr()" style="font-size: x-large;font-weight: 750;"> - </button>
        </div>

    </div>

</div>
<div class="two">
    <!-- ATTRIBUTE DIRECTIVE -->
    <h5>My Leaders:</h5>

    <!-- STRUCTURAL DIRECTIVE -->
    <p *ngIf="isWinter">Eldar Bakshi</p>
    <p>Ranny Alberg</p>


    <h5>Coding sites:</h5>
    <p *ngFor="let s of sites">{{s}}</p>

</div>