<div class="topnav" id="myTopnav">
    <a routerLink="home">
        <i class="fa fa-fw fa-home"></i>HOME</a>
    <a routerLink="customer-c">
        <i class="fa fa-align-justify"></i> All kupons</a>
    <a routerLink="companies">
        <i class="fa fa-contao"></i>OMPANIES</a>
    <a routerLink="account-cust">
        <i style="color: black;" class="fa fa-address-card"></i> ACCOUNT</a>
    <a routerLink="about">
        <i style="color: black;" class="fa fa-info-circle"></i> ABOUT</a>
    <a routerLink="logout">
        <img style="height: 22px;" src="assets/images/icons/door-open-solid.svg"> LOGOUT</a>
</div>