<div class="topnav" id="myTopnav">

    <a routerLink="home">
        <i class="fa fa-fw fa-home"></i>HOME</a>

    <a routerLink="admin-c">
        <i class="fa fa-align-justify"></i> All kupons</a>

    <a routerLink="companies">
        <i class="fa fa-contao"></i>OMPANIES</a>

    <a routerLink="ad-customers">
        <i class="fa fa-contao"></i>USTOMERS</a>

    <a routerLink="logout">
        <img style="height: 22px;" src="assets/images/icons/door-open-solid.svg"> LOGOUT</a>

    <!-- <a routerLink="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->



</div>