<h3 class="wot">What's up, Admin?</h3>

<img class="img" src="/assets/images/admin.png" style=" width: 400px;">

<h3 class="compID">ID:{{company.id}}</h3>
<h3 class="compN">{{company.name}}</h3>
<img class="comI" src="{{company.imageURL}}" width=160px; height="160px">

<a class="up" routerLink="/admin-update-company">Update company</a>
<button class="delC" (click)="deleteCompany()" routerLink="/companies">
    Delete company {{company.name}}</button>


<div class="cus">

    <table *ngIf="coupons">
        <tr class="main">
            <th>ID</th>
            <th>Title</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>

        <tr *ngFor="let c of coupons" class="str">
            <td><a routerLink="/coupon-details/{{c.id}}">{{c.id}}</a></td>
            <td>{{c.title}}</td>
            <td>{{c.startDate}}</td>
            <td>{{c.endDate}}</td>
            <td><a routerLink="/coupon-cat/{{c.category}}">{{c.category}}</a></td>
            <td>{{c.amount}}</td>
            <td>{{c.price}}</td>
            <td>{{c.description}}</td>
            <td>
                <img src="{{c.imageURL}}" width=80px; height="80px">

            </td>
            <td><button (click)="deleteCoupon(c.id)"><i  class="fa fa-times" 
                style="font-size:30px;
                color:lightblue;"></i></button></td>
            <td>
                <a routerLink="/ad-update-coupon" (click)="saveCouponID(c.id)">
                    <i class="fa fa-pencil" style="font-size:30px;
                    color:lightblue;"></i></a>
            </td>
        </tr>
    </table>

</div>