<nav class="topnav" id="myTopnav">


    <a routerLink="home">
        <i class="fa fa-fw fa-home"></i>HOME</a>


    <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-address-card"></i> REGISTRATION<i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content">
            <a routerLink="registration"> <i style="color: black;" class="fa fa-shopping-cart"></i> Customer</a>
            <a routerLink="registration"> <img style="height: 22px;" src="assets/images/icons/hands-helping-solid.svg"> Company
            </a>
        </div>
    </div>

    <a routerLink="companies"><i class="fa fa-contao"></i>OMPANIES</a>
    <a routerLink="about"><i class="fa fa-info-circle"></i> ABOUT</a>
</nav>